@mixin buttom-style($background,$color){
    background-color: $background;
    color: $color;
}

.btn{
    width: 200px;
    padding: 10px 0;
    background:none;
    border: 0;
    border-radius: 10px;
    &.btn-laranja{
        @include buttom-style($color-orange,#fff);
    }
    &.btn-roxo{
        @include buttom-style($color-roxo,#fff);
    }
    &.btn-verde{
        @include buttom-style($color-verde,#fff);
    }
}

