@import "./variaveis.scss";
// @import "./buton.scss";

// CONFIG GLOBAL PAGE


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

// global page

p {
  font-size: 18px;
  line-height: 30px;
}
h4 {
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  border: 1px solid #565656;
  padding: 9px 20px;
  border-radius: 30px;
  margin-bottom: 53px;
  display: inline-flex;
  align-items: center;
  & i {
    margin-bottom: 1px;
    font-size: 14px;
    margin-right: 10px;
  }
}

h2 {
  font-size: 48px;
  line-height: 90px;
  margin-bottom: 43px;
  font-weight: 300;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: auto;
  overflow: hidden;
}
.container_content {
  max-width: 770px;
  width: 100%;
  margin-left: auto;
  overflow: hidden;
}
.formation {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  & div {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 70px;
  }
  & .formation_1 {
    border-left: 2.1px solid $color-orange;
    border-right: 2.1px solid $color-orange;
  }
  & .formation_2 {
    border-right: 2.1px solid $color-orange;
  }
}

// SIDE BAR
.icon_menu {
  position: absolute;
  right: 68px;
  top: 50px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid #575757;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  background: #1f1f1f;
  z-index: 50;
  & span {
    width: 30px;
    display: block;
    height: 2px;
    background: #fff;
    transition: 0.3s;
  }
}
#toggle {
  position: relative;
  opacity: 0;
  visibility: hidden;
  z-index: 50;
}
.sidebar_responsive {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  transition: 0.2s;
  color: #999999;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #565656;
  opacity: 0.5;
}
.sidebar {
  position: fixed;
  right: 0;
  max-width: 345px;
  width: 100%;
  margin-left: auto;
  background: #191919;
  height: 100%;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.3s;
}
.side_menu {
  width: 70%;
  margin: auto;
  & p {
    margin-left: 12px;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
.menu {
  position: relative;
  right: auto;
  left: 0;
  top: 0;
  transform: translateY(0);
  background: none;
  border-radius: 0;
  border: none;
  margin-bottom: 30px;
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
  & li {
    font-size: 14px;
    margin: 40px 0;
  }
  & i {
    margin-right: 12px;
  }
  & a {
    text-decoration: none;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.4s;
  }
}
.menu li a:hover {
  background: rgb(86 86 86 / 12%);
}
.menu li a:hover i {
  color: $color-orange;
}

.menu li a:hover span {
  color: $color-orange;
}
.side_social {
  width: 70%;
  margin: auto;
  & p {
    margin-left: 12px;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
.menu_social {
  display: flex;
  margin-top: 40px;
  gap: 30px;
  list-style: none;
  font-size: 25px;
  & i {
    margin-left: 12px;
    color: #999999;
  }
}
.menu_social a:hover i {
  color: $color-orange;
}

//perfil settings
.fixo {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  border-radius: 30px;
  border: 2px solid rgb(0, 0, 0);
  padding: 50px 50px;
  z-index: 10;
  & ul {
    list-style: none;
  }
}
.perfil {
  display: grid;
  grid-template-rows: (50px 100px 60px 50px 50px);
  gap: 80px;
  margin: 20px;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  & div {
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
  }
}
.perfil_img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 270px;
  border-radius: 30px;
}
.box {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  & p {
    font-size: 20px;
  }
}
.link_tree {
  position: relative;
  top: 25%;
  left: 35%;
  transform: translate(-25%, -25%);
  display: grid;
  grid-template-columns: (50px 50px 50px);
  gap: 10%;
}

.icon a i {
  width: 60px;
  height: 60px;
  line-height: 55px;
  font-size: 30px;
  text-align: center;
  border: 3px solid black;
  color: black;
  border-radius: 50%;
  transition: 0.5s;
  &:hover {
    color: gray;
    border: 3px solid gray;
  }
}
footer {
  & a {
    text-decoration: none;
  }
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  gap: 20px;
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgb(0, 0, 0);
  border: 3px solid black;
  border-radius: 30px;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    color: $color-orange;
    background: none;
  }
  & i {
    font-size: 25px;
  }
}

// menu scroll
.active {
  color: $color-orange;
}
.menu_scroll {
  display: flex;
  flex-direction: column;
  border: 1px solid #575757;
  border-radius: 30px;
  position: fixed;
  right: 68px;
  top: 322px;
  width: 55px;
  text-align: center;
  gap: 35px;
  padding: 24px 0;
  z-index: 11;
  & li {
    list-style: none;
    &:hover {
      color: $color-orange;
    }
  }
  & i {
    cursor: pointer;
    font-size: 20px;
  }
  & span {
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    transition: 0.3s;
    font-size: 12px;
    right: 100%;
    display: block;
    padding: 3px 8px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
  }
}
.menu_scroll li a:hover i {
  color: $color-orange;
}

.menu_scroll li a:hover span {
  visibility: visible;
  opacity: 1;
}
.menu_scroll li a:hover span::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #000000;
  position: absolute;
  right: -3px;
  top: 50%;
  transform: rotate(54deg) skew(-8deg, -39deg);
  margin-top: -5px;
  z-index: -1;
}

// config sessao movel \\

// page 1

.section_header {
  height: 80%;
  width: 100%;
  padding: 28px 0;
  position: relative;
  overflow: hidden;
  & h1 {
    font-size: 65px;
    letter-spacing: -0.2px;
    line-height: 90px;
    margin-bottom: 43px;
    font-weight: 300;
  }
}

.movel {
  height: 100%;
  width: 100%;
  padding: 28px 0;
  position: relative;
  overflow: hidden;
}
.mobile_container {
  padding: 68px 0;
  position: relative;
  overflow: hidden;
}

.div_container {
  position: relative;
  z-index: 3;
}
.content_header {
  overflow: hidden;
  & p {
    display: block;
    align-self: baseline;
  }
}
.way_profile {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 50%;
  border: 2px solid $color-orange;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
  cursor: pointer;
  & i {
    position: absolute;
    color: #000000;
    font-size: 40px;
    display: block;
  }
  & .port_link {
    max-width: 150px;
    display: block;
    animation: rotating 6s infinite linear;
  }
}
// page 2

.about {
  height: 80%;
  width: 100%;
  padding: 28px 0;
  position: relative;
  overflow: hidden;
}
.about_container {
  padding: 68px 0;
  position: relative;
  overflow: hidden;
}
.resume_info {
  margin-top: 50px;
  & .info {
    display: grid;
    align-items: center;
    margin-bottom: 10px;
    grid-template-columns: 120px 50px 250px;
    & p {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
    }
    & span {
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
    }
    & h1 {
      margin-left: 20px;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
    }
  }
}
.div_p {
  line-height: 30px;
  max-width: 610px;
}
// page 3
.formation_container {
  padding: 68px 0;
  position: relative;
  overflow: hidden;
}

.list_format {
  position: relative;
  overflow: hidden;
}
.list_format::before {
  content: "";
  display: flex;
  position: absolute;
  width: 15px;
  height: 15px;
  background: #656565;
  border-radius: 50%;
  transition: 0.3s;
}
.list_format:hover::before {
  background: $color-orange;
}
.list_format::after {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  width: 2px;
  height: 100%;
  background-color: #000000;
  z-index: -1;
  transition: 0.4s;
}
.list_format:hover::after {
  background: $color-orange;
}
.list_format:hover .date {
  color: $color-orange;
}
.list {
  padding-left: 74px;
  padding-bottom: 30px;
  & .date {
    font-weight: 700;
  }
  & h2 {
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 5px;
    line-height: 45px;
  }
  & h3 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
    line-height: 45px;
  }
  & span {
    display: block;
    margin-bottom: 28px;
    transition: 0.3s;
  }
  & p {
    font-size: 17px;
    margin-bottom: 18px;
  }
  & ul {
    list-style: none;
  }
  & li {
    font-size: 27px;
    margin-bottom: 18px;
    & span {
      font-size: 17px;
      margin-top: 18px;
      margin-bottom: 18px;
    }
  }
}

// page 4

.section_skills {
  padding-bottom: 30px;
}
.skills_container {
  padding: 68px 0;
  position: relative;
  overflow: hidden;
}
.type_skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.container_skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  & p {
    display: contents;
    position: relative;
  }
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 40px 0px 40px 0px;
  margin-bottom: 20px;
  transition: 0.3s;
  &:hover {
    border: 2px solid $color-orange;
  }
  & img {
    display: block;
    margin: auto 30px auto;
    max-width: 100%;
  }
  & h1 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
  }
}

// page 5

.section_portfolio {
  padding: 28px 0;
  position: relative;
}
.projects_container {
  padding: 68px 0;
  position: relative;
  overflow: hidden;
}
.projects_position {
  margin-bottom: 68px;
}
.projects_position_middle {
  display: flex;
  flex-direction: row;
  gap: 100px;
  & .preview {
    max-width: 300px;
  }
}
.preview_projects {
  margin-bottom: 40px;
  & h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    & a {
      display: inline-block;
      border-bottom: 1px solid transparent;
      transition: 0.3s;
    }
  }
}

.preview {
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  height: 410px;
  width: 700px;
  border: 1px solid black;

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.preview_projects {
  & a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
  }
}
.preview_projects:hover h2 {
  text-decoration: #000000;
}
// animations section //

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
