@import "./variaveis.scss";
@import "./buton.scss";

// p{
//     color:$color-orange ;
// }

// Configuracao universal
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 

  }
  //perfil settings
  .fixo{
    position:fixed;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    padding: 30px 30px;
    z-index: 10;
    ul, ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
  }
  .perfil{
    display: grid;
    grid-template-rows:(50px 100px 50px 50px 50px);
    gap: 80px;
    margin: 20px;
  }

  header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    & div{
      line-height:20px;
      font-size: 18px;
      font-weight: 600;

    }
  }
  .perfil_img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 250px;
    border-radius: 30px;

  }
  .box1{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    & p{
      line-height: 35px;
      font-size: 24px;
      font-weight: 300;
    }
  }
  .link_tree{
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-25%,-25%);
    display:grid;
    grid-template-columns:(50px 50px);
    gap: 10%;
  }
 
  .icon a i {
    width: 70px;
    height: 70px;
    line-height: 65px;
    font-size: 50px;
    text-align: center;
    border: 3px solid black;
    color: black;
    border-radius: 50%;
    transition: .3s;
    &:hover{
      color: gray;
      border: 3px solid gray;
    }

  }

  button{
      height: 100%;
      width: 100%;
      color: white;
      background-color: rgb(0, 0, 0);
      border: 3px solid black;
      border-radius: 30px;
      transition: all 0.8s;
      &:hover{
        cursor: pointer;
        color: rgb(0, 0, 0);
        background: none;
      }
  }
  // config sessao movel

  .movel{
    height: 100%;
    width: 100%;
    padding: 28px 0;
    position: relative;
    overflow: hidden;
  }
  .mobile_container{
    padding: 68px 0;
    position: relative;
    overflow: hidden;
  }
  .container{
    max-width: 1130px;
    padding: 0 15px;
    margin: auto;
  }
  .div_container{
    position: relative;
    z-index: 3;
  }
  .container_content{
    max-width: 770px;
    width: 100%;
    margin-left: auto;
  }
  .content_header{
    & p{
      display: block;
      align-self: baseline;
    }
    & .way_profile{
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      border-radius: 50%;
      border: 2px solid #575757;
      position: relative;
      overflow: hidden;
      margin-right: 15px;
      & i{
        position: absolute;
        color: #000000;
        font-size: 40px;
        display: block;
  
      }
      & .port_link{
        max-width:150px;
        display: block;
        animation: rotating 6s infinite linear;
      }
    }
    & .formation{
      display: flex;
      flex-direction: row;
      padding-top: 50px;
      & div{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        padding:20px 70px;
      }
      & .formation_1{
        border-left: 2.1px solid rgb(151, 151, 151);
        border-right: 2.1px solid rgb(151, 151, 151);
      }
      & .formation_2{
        border-right: 2.1px solid rgb(151, 151, 151);
      }
    }
  }
  h4{
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    border: 1px solid #565656;
    padding: 9px 20px;
    border-radius: 30px;
    margin-bottom: 53px;
    display: inline-flex;
    align-items: center;
    & i{
      margin-bottom: 1px;
      font-size: 14px;
      margin-right: 10px;
    }
  }
  h1{
    font-size: 78px;
    letter-spacing: -0.2px;
    line-height: 90px;
    margin-bottom: 43px;
    font-weight: 300;
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  // #a5881d; /