@import "./variaveis.scss";
@import "./buton.scss";

// p{
//     color:$color-orange ;
// }

// Configuracao universal
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 

  }
  //perfil settings
  .fixo{
    position:fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    padding: 50px;
    z-index: 10;
    ul, ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
  }
  .perfil{
    display: grid;
    grid-template-rows:(50px 100px 50px 50px 50px);
    gap: 80px;
    margin: 20px;
  }

  header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    & div{
      font-size: 16px;
      font-weight: 600;

    }
  }
  img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 250px;
    border-radius: 30px;

  }
  .box1{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    & p{
      font-size: 16px;
      font-weight: 600;
    }
  }
  .link_tree{
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-25%,-25%);
    display:grid;
    grid-template-columns:(50px 50px);
    gap: 20px
  }
 
  .icon a i {
    width: 70px;
    height: 70px;
    line-height: 65px;
    font-size: 50px;
    text-align: center;
    border: 3px solid black;
    color: black;
    border-radius: 50%;
    transition: .3s;
    &:hover{
      color: gray;
      border: 3px solid gray;
    }

  }

  button{
      height: 100%;
      width: 100%;
      color: white;
      background-color: rgb(0, 0, 0);
      border: 3px solid black;
      border-radius: 30px;
      transition: all 0.8s;
      &:hover{
        cursor: pointer;
        color: rgb(0, 0, 0);
        background: none;
      }
  }
  // config sessao movel

  .movel{
    height: 100%;
    width: 100%;
    padding: 68px 0;
    position: relative;
    overflow: hidden;
  }
  .container{
    max-width: 1130px;
    padding: 0 15px;
    margin: auto;
  }
  .div_container{
    position: relative;
    z-index: 3;
  }
  .container_content{
    max-width: 770px;
    width: 100%;
    margin-left: auto;
  }
  h4{
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    border: 1px solid #565656;
    padding: 9px 20px;
    border-radius: 30px;
    margin-bottom: 53px;
    display: inline-flex;
    align-items: center;
    & i{
      margin-bottom: 1px;
      font-size: 14px;
      margin-right: 10px;
    }
  }
